[submodule "software/JeepBot-SetUp"]
	path = software/JeepBot-SetUp
	url = https://github.com/KennethKhant/JeepBot-SetUp.git
[submodule "software/JeepBot-ELRS-Controller"]
	path = software/JeepBot-ELRS-Controller
	url = https://github.com/KennethKhant/JeepBot-ELRS-Controller.git
[submodule "hardware/JeepBot-Docs"]
	path = hardware/JeepBot-Docs
	url = https://github.com/KennethKhant/JeepBot-Docs.git
[submodule "hardware/148-jeepbot-team-01"]
	path = hardware/148-jeepbot-team-01
	url = https://github.com/Triton-AI/148-jeepbot-team-01.git
[submodule "software/TritonAI_Jeepbot_Current_Directory"]
	path = software/TritonAI_Jeepbot_Current_Directory
	url = https://github.com/esha0281/TritonAI_Jeepbot_Current_Directory.git
